*{
    box-sizing: border-box;
}

.gameboard{
    width: fit-content;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    row-gap: 2px;
    column-gap: 2px;
}

.square{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 45px;
    font-weight: bolder;
    padding: 4px;
    cursor: default;
}